<html>
  <head>
    <title>
      {% block title %}Document Search{% endblock %}
    </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        body{
            padding-top: 50px;
        }
        #id_q{
          width: 300px;
        }
    </style>

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>